.table-view {
    -fx-background-color: #c2c8c6;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-selection-bar: #c2c8c6;
}

.table-view:focused {
  -fx-background-color: #c2c8c6,-fx-box-border,-fx-control-inner-background;
  -fx-background-insets: 0, 0, 0;
  -fx-background-radius: 0, 0, 0;
  -fx-padding: 0;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-family: "JetBrains Mono ExtraBold";
    -fx-font-size: 12px;
}

.table-view .column-header-background {
    -fx-background-color: "#2c3639";
}

.table-view .table-cell {
    -fx-padding: 10 10 10 0;
    -fx-alignment: CENTER;
    -fx-font-family: "JetBrains Mono Medium";
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 50px;
    -fx-background-insets: 0 0 0 0;
    -fx-background-color: transparent;
}